<div class="container-fluid">
    <div class="bg-light row justify-content-center align-items-center g-2  vh-100 m-5">
        <div class="col-7 content">
            <div class=" m-5 loginContent">
                <p class="h1 fw-bold  mb-5">Welcome to Tic Tac Toe</p>
                <form action="/login" method="post">
                    <input type="hidden" name="isLogin" value="true">
                    <Button class="btn btn-success">Login with MyOauth2</Button>
                </form>
            </div>
        </div>
        <div class="col-5 h-100 m-0 p-0">
            <div id="carousel" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active loginImage h-100">
                        <img src="https://ak.picdn.net/shutterstock/videos/1070190898/thumb/11.jpg" class=" w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item loginImage h-100">
                        <img src="https://th.bing.com/th/id/OIP.yLTrfpXH88r67S44xtlnygHaEu?rs=1&pid=ImgDetMain"
                            class=" w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>